div.main
{
  background-color: black;
}

div.inner_main
{
  background-color: #222;
  width: 1200px;
  min-height: 900px;
  margin: auto;
  color: #aaa;
}

h1.mtitle
{
  padding: 50px;
  padding-left: 250px;
  font-size: huge;
}

div.canvas_div
{
  width: 800px;
  margin: auto;
}

canvas.canvastyle
{
  border:1px solid #aaa;
}
